
.free {
    position: absolute;
    width: 223px;
    height: 330px;
    left: 41px;
    top: 90px;
    background: #ffff;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1);
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    }

.free__title {
    position: absolute;
    width: 33px;
    height: 23px;
    left: 135px;
    top: 130px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #242f40;
}  

.free__list {
    position: absolute;
    width: 94px;
    height: 44px;
    left: 99px;
    top: 174px;
}

.free__token {
    position: absolute;
    height: 20px;
    left: 11.7%;
    right: 74.4%;
    top: calc(50% - 20px/2 + 1.34px);
    color: #242f40;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #242f40;
}

.free__price {
    position: absolute;
    height: 44px;
    left: 17.02%;
    right: 21.82%;
    top: calc(50% - 44px/2);
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 44px;
    text-align: center;
    color: #242f40; 
}

.free__time {
    position: absolute;
    height: 18px;
    left: 73.3%;
    right: 0.29%;
    top: calc(50% - 18px/2 + 1.18px);
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #5b6b82; 
}

.free__planDescription {
    display: inline-block;
    position: absolute;
    width: 137px;
    height: 72px;
    left: 85px;
    top: 237px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #5b6b82;
    text-align: center;

}




    







